<div>
  <h2 id="page-heading" data-cy="TeacherHeading">
    <span ceetTranslate="proyectoSosApp.teacher.home.title">Teachers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ceetTranslate="proyectoSosApp.teacher.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-teacher"
        [routerLink]="['/teacher/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span ceetTranslate="proyectoSosApp.teacher.home.createLabel"> Create a new Teacher </span>
      </button>
    </div>
  </h2>

  <ceet-alert-error></ceet-alert-error>

  <ceet-alert></ceet-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teachers?.length === 0">
    <span ceetTranslate="proyectoSosApp.teacher.home.notFound">No teachers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="teachers && teachers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr ceetSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" ceetSortBy="id"><span ceetTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" ceetSortBy="name">
            <span ceetTranslate="proyectoSosApp.teacher.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ceetSortBy="lastName">
            <span ceetTranslate="proyectoSosApp.teacher.lastName">Last Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ceetSortBy="phone">
            <span ceetTranslate="proyectoSosApp.teacher.phone">Phone</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ceetSortBy="address">
            <span ceetTranslate="proyectoSosApp.teacher.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ceetSortBy="documentNumber">
            <span ceetTranslate="proyectoSosApp.teacher.documentNumber">Document Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ceetSortBy="documentType">
            <span ceetTranslate="proyectoSosApp.teacher.documentType">Document Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" ceetSortBy="user.id">
            <span ceetTranslate="proyectoSosApp.teacher.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/teacher', teacher.id, 'view']">{{ teacher.id }}</a>
          </td>
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.lastName }}</td>
          <td>{{ teacher.phone }}</td>
          <td>{{ teacher.address }}</td>
          <td>{{ teacher.documentNumber }}</td>
          <td>{{ teacher.documentType }}</td>
          <td>
            {{ teacher.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/teacher', teacher.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" ceetTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/teacher', teacher.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teacher)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="teachers && teachers.length > 0">
    <div class="d-flex justify-content-center">
      <ceet-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></ceet-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
