<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="achievement">
      <h2 data-cy="achievementDetailsHeading"><span ceetTranslate="proyectoSosApp.achievement.detail.title">Achievement</span></h2>

      <hr />

      <ceet-alert-error></ceet-alert-error>

      <ceet-alert></ceet-alert>

      <dl class="row-md jh-entity-details">
        <dt><span ceetTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ achievement.id }}</span>
        </dd>
        <dt><span ceetTranslate="proyectoSosApp.achievement.achievementDescription">Achievement Description</span></dt>
        <dd>
          <span>{{ achievement.achievementDescription }}</span>
        </dd>
        <dt><span ceetTranslate="proyectoSosApp.achievement.statusAchievement">Status Achievement</span></dt>
        <dd>
          <span ceetTranslate="{{ 'proyectoSosApp.StateAchievement.' + achievement.statusAchievement }}">{{
            achievement.statusAchievement
          }}</span>
        </dd>
        <dt><span ceetTranslate="proyectoSosApp.achievement.course">Course</span></dt>
        <dd>
          <span *ngFor="let course of achievement.courses; let last = last">
            <a [routerLink]="['/course', course?.id, 'view']">{{ course.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ceetTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/achievement', achievement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ceetTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
