<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-note-heading" data-cy="NoteCreateUpdateHeading" ceetTranslate="proyectoSosApp.note.home.createOrEditLabel">
        Create or edit a Note
      </h2>

      <div>
        <ceet-alert-error></ceet-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" ceetTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="proyectoSosApp.note.qualification" for="field_qualification">Qualification</label>
          <input
            type="text"
            class="form-control"
            name="qualification"
            id="field_qualification"
            data-cy="qualification"
            formControlName="qualification"
          />
          <div
            *ngIf="
              editForm.get('qualification')!.invalid && (editForm.get('qualification')!.dirty || editForm.get('qualification')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('qualification')?.errors?.required"
              ceetTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('qualification')?.errors?.maxlength"
              ceetTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="proyectoSosApp.note.period" for="field_period">Period</label>
          <input type="text" class="form-control" name="period" id="field_period" data-cy="period" formControlName="period" />
          <div *ngIf="editForm.get('period')!.invalid && (editForm.get('period')!.dirty || editForm.get('period')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('period')?.errors?.required"
              ceetTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('period')?.errors?.maxlength"
              ceetTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 10 }"
            >
              This field cannot be longer than 10 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="proyectoSosApp.note.startDate" for="field_startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label ceetTranslate="proyectoSosApp.note.course" for="field_courses">Course</label>
          <select class="form-control" id="field_courses" data-cy="course" multiple name="courses" formControlName="courses">
            <option
              [ngValue]="getSelectedCourse(courseOption, editForm.get('courses')!.value)"
              *ngFor="let courseOption of coursesSharedCollection; trackBy: trackCourseById"
            >
              {{ courseOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ceetTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ceetTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
